  <!-- header section-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="/">
              <i class="fa-solid fa-square-rss"></i>My Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
  
                <% if (isAuthenticated) { %>
  
                <li class="nav-item">
                  <a class="nav-link" href="/new-post">
                    <i class="fa-solid fa-pen-to-square px-2"></i>
                    New post
                  </a>    
                </li>
                    <li class="nav-item dropdown mx-5 ">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= user.username %></a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user/profile"><i class="fa-solid fa-user px-2"></i>User Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-address-card px-2"></i>User post</a></li>
                        <li><a class="dropdown-item" href="/user/logout">
                          <i class="fa-solid fa-arrow-right-to-bracket px-2"></i>
                           Logout </a>
                        </a></li>
                      </ul>
                    </li>
                    
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link fs-6 text-white" href="./new-post">
                      <i class="fa-solid fa-pen-to-square px-2"></i>
                      New post
                    </a>    
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="./login">
                      <i class="fa-solid fa-arrow-right-to-bracket px-2"></i>
                      login </a>
                  
  
                  <% } %>
  
  
              </ul>
            </div>
          </div>
        </nav>
        
  
  </header>